{% extends "base.html" %}

{% block title %}
    Gênero
{% endblock title %}

{% block extrascripts %}
    <link rel="stylesheet" href="/static/files/codes/css/genero_treemap.css" type="text/css" />

{% endblock extrascripts %}

{% block extrahead %}
{% endblock extrahead %}

{% block headerImgClass %}
    about
{% endblock headerImgClass %}

{% block nomepagina %}
    Gênero e Participação
{% endblock nomepagina %}

{% block pagedesc %}
    Entenda visualmente participação de mulheres e homens na política
{% endblock pagedesc %}

{% block breadcrumbs %}
    <li><a href="/index/">Home</a> &raquo;</li>
    <li><a href="/genero/">Gênero</a> &raquo;</li>
    <li><a href="/genero/tematica/nuvem">Análise: Temáticas por Gênero</a></li>
{% endblock breadcrumbs %}

{% block content %}

     <article id="descricao" class="inwrap">
        O objetivo deste projeto é fazer uma análise gráfica da participação de parlamentares em suas casas legislativas.<br/>
        Para isso, tem-se a intenção de observar as participações feminina e masculina na casa legislativa, tanto do ponto de vista quantitativo, quanto do ponto de vista qualitativo.<br/>
        <h4 style="margin-bottom:5px;">O que é este gráfico?</h4>
        <aside id="como-funciona" style="margin: 0 90px 10px 20px; padding: 10px; background-color: rgba(220,220,220,0.7); -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;">
        Trata-se de uma visualização de dados <b>nuvem de palavras</b> em que são apresentadas as 50 palavras temáticas mais frequentes nas indexações de proposições legislativas para cada um dos gêneros. No primeiro gráfico temos as palavras mais recorrentes nas indexações das proposições apresentadas por mulheres enquanto no segundo as palavras mais recorrentes nas indexações de proposições apresentadas por homens.<br/>
        </aside>
        Analise as frequências de temas por Gênero e tire suas próprias conclusões.<br/>

        <!--Quantidade de palavras-chave consideradas nesta análise: <b>33</b> palavras.<br/><br/>
        Quantidade de partidos consideradas nesta análise: <b>75</b> partidos.<br/><br/-->
        Os dados das casas legislativas utilizados para análise estão disponíveis para <a href="https://gitlab.com/radar-parlamentar/radar">download aqui</a>.<br/>
         <form id="formTagCloud"  method="post" action="" onloadstart="teste()">
            {% csrf_token %}
             <p><label for="casa_legislativa_list"> Casa Legislativa: </label>
                 <select id="casa_legislativa_list" onchange="enableButton();updateIdCasaLegislativa(this.options[this.selectedIndex].getAttribute('id-casa-legislativa'));">
                     {% if nome_casa_legislativa %}
                        <option value=""> Selecione... </option>
                     {% else %}
                        <option value="" selected="selected"> Selecione... </option>
                     {% endif %}
                     {% for casa in casas_legislativas %}
                        {% if casa.nome_curto == nome_casa_legislativa %}
                          <option value="{{ casa.nome_curto }}" id-casa-legislativa="{{ casa.id }}" selected="selected"> {{ casa.nome }} </option>
                        {% else %}
                          <option value="{{ casa.nome_curto }}" id-casa-legislativa="{{ casa.id }}"> {{ casa.nome }} </option>
                        {% endif %}
                     {% endfor %}
                 </select>
             </p>
         <input id='id_casa_legislativa' name='id_casa_legislativa' type="hidden" value=''>
         <input id="button" type="submit" value="Gerar nuvem de palavras!" title="Gerar nuvem de palavras!" disabled >
         </form>

        {% if temas_mulher and temas_homem %}
        <div id="tagCloudSpan" style="visibility: visible">
        {% else  %}
        <div id="tagCloudSpan" style="visibility: hidden">
        {% endif %}
            <h4>Mulheres</h4>
            <div id="tagcloud_mulher">
            </div>
            <h4>Homens</h4>
            <div id="tagcloud_homem">
            </div>
        </div>
    </article>
        <div style="clear:right"/>
{% endblock content %}

{% block extrajsend %}
    {% if request.get_host == '127.0.0.1:8000' or request.get_host == 'localhost:8000' %}
        <script src="/static/files/codes/js/d3.min.js"></script>
    {% else %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js"></script>
        <script type="text/javascript">
          if (typeof d3 === 'undefined') {
            var e = document.createElement('script');
                e.src = '/static/files/codes/js/d3.min.js';
                e.type='text/javascript';
            document.getElementsByTagName("head")[0].appendChild(e);
          }
        </script>
    {% endif %}
    <script src="/static/files/codes/js/genero_treemap.js"></script>
    <script src="/static/files/codes/js/d3.js"></script>
    <script src="/static/files/codes/js/d3.layout.cloud.js"></script>

    <script>
        var width = 800;
        var height = 500;
        var fill = d3.scale.category20();
        {% autoescape off %}
      d3.layout.cloud().size([width, height])
          .words({{ temas_mulher }}.map(function(d) {
            return {text: d[0], size: 19 * d[1]};
          }))
          .padding(5)
          .rotate(function() { return ~~(Math.random() * 2) * 90; })
          .font("Impact")
          .fontSize(function(d) { return d.size; })
          .on("end", draw)
          .start();

{% endautoescape %}
      function draw(words) {
        d3.select("#tagcloud_mulher").append("svg")
            .attr("width", width)
            .attr("height", height)
          .append("g")
            .attr("transform", "translate(" + (width/2).toString() +", " + (height/2).toString() + ")")
          .selectAll("text")
            .data(words)
          .enter().append("text")
            .style("font-size", function(d) { return d.size + "px"; })
            .style("font-family", "Impact")
            .style("fill", function(d, i) { return fill(i); })
            .attr("text-anchor", "middle")
            .attr("transform", function(d) {
              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) { return d.text; });
      }
    </script>

    <script>
        var width = 800;
        var height = 500;
        var fill = d3.scale.category20();
        {% autoescape off %}
      d3.layout.cloud().size([width, height])
          .words({{ temas_homem }}.map(function(d) {
            return {text: d[0], size: 5 * d[1]};
          }))
          .padding(5)
          .rotate(function() { return ~~(Math.random() * 2) * 90; })
          .font("Impact")
          .fontSize(function(d) { return d.size; })
          .on("end", draw)
          .start();

{% endautoescape %}
      function draw(words) {
        d3.select("#tagcloud_homem").append("svg")
            .attr("width", width)
            .attr("height", height)
          .append("g")
            .attr("transform", "translate(" + (width/2).toString() +", " + (height/2).toString() + ")")
          .selectAll("text")
            .data(words)
          .enter().append("text")
            .style("font-size", function(d) { return d.size + "px"; })
            .style("font-family", "Impact")
            .style("fill", function(d, i) { return fill(i); })
            .attr("text-anchor", "middle")
            .attr("transform", function(d) {
              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) { return d.text; });
      }
    </script>
{% endblock extrajsend %}

{% block extrascriptsend %}

    function updateIdCasaLegislativa(id) {
      var id_casa_legislativa = document.getElementById("id_casa_legislativa");
      id_casa_legislativa.value = id;
    }

    function enableButton() {
        var combobox = document.getElementById("casa_legislativa_list");
        var selectedVal = combobox.value;
        var form = document.getElementById("formTagCloud").setAttribute("action", selectedVal);

        if (selectedVal!="") {
          var button = document.getElementById("button").disabled = false;
        } else {
          var button = document.getElementById("button").disabled = true;
        }
    }

    menuActive("genero");
    $(document).ready(function() {
    });
{% endblock extrascriptsend %}
